.GamePage {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .title {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .buttonPanel {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 348px;
    gap: 7px;

    button {
      font-size: 1em;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
    }
  }
}

.endModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .message {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
  }

  button {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
  }
}
