.GamePage {
  // margin: auto auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .title {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .buttonPanel {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    button {
      font-size: 1em;
      padding: 10px;
    }
  }
}
