.PegField {
  width: fit-content;
  height: fit-content;
  border: #fff 2px solid;
  margin: auto auto;

  .cellsLine {
    display: flex;
    justify-content: center;
    align-content: center;
    .emptyCell,
    .cellWithPeg,
    .activeCell {
      width: 50px;
      height: 50px;
      border: #fff 1px solid;
    }

    .voidCell {
      width: 50px;
      height: 50px;
      opacity: 0;
    }

    .cellWithPeg,
    .activeCell {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: #676161;

        .peg {
          transform: scale(1.1);
        }
      }
      .peg {
        display: block;
        background: #988d8d;
        width: 90%;
        height: 90%;
        border-radius: 50px;
      }
    }

    .activeCell {
      background: #676161;
      .peg {
        transform: scale(1.1);
      }
    }

    background: #303030;
  }
}
