@use '/src/assets/fonts/Roboto';

:global(#app) {
  * {
    font-family: 'Helvetica', 'Roboto', sans-serif;
  }

  font-size: 16px;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  width: 100vw;
  height: 100vh;
  // display: grid;
  // justify-content: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-content: center;
  align-items: center;
  // color: rgb(60, 60, 60);
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  outline: none;
  border: none;
  border: 5px;
}

*:not(button) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
