@use '/src/assets/fonts/Roboto';

:global(#app) {
  font-family: 'Roboto';
  font-size: 16px;
  // display: grid;
  // justify-content: center;
  color: rgb(60, 60, 60);
}

*:not(button) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
